{% extends "layout.html.twig" %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                   <p>
                       JP Caparas is a full stack web developer based in Auckland, New Zealand.
                       A lover of open source technologies, he is immersed mainly in PHP development.
                   </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}