<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-2">
                <a href="{{ app.request.baseUrl ~ '/showtv/about' }}"><i class="fa fa-chevron-right"></i> About
                    ShowTV.com</a><br />
                <a href="{{ app.request.baseUrl ~ '/showtv/api_information' }}"><i class="fa fa-chevron-right"></i> APIs
                    used</a><br />
                <a href="{{ app.request.baseUrl ~ '/showtv/contact#report-a-problem' }}"><i class="fa fa-chevron-right"></i> Report a
                    problem</a><br />
                <div class="gap half hidden-md hidden-lg"></div>
            </div>
            <div class="col-xs-12 col-md-7 col-lg-6 col-lg-push-1">
                <p><i class="fa fa-send-o"></i>&nbsp;&nbsp;Subscribe and be updated on the latest TV shows</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your email" value="" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go</button>
                    </span>
                </div>
                <div class="gap half hidden-md hidden-lg"></div>
            </div>
            <div class="hidden col-xs-12 col-md-6 col-lg-push-2 col-lg-2">
                <p>Follow us on social media</p>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-lg" title="Like us on Facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-lg" title="Follow us on Twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram fa-lg" title="Follow us on Instagram"></i></a>
                    </li>
                </ul>
                <div class="gap half hidden-md hidden-lg"></div>
            </div>
        </div>
    </div>
</footer>